body{
  background: rgba(255, 255, 255, 0);
  color: #050404;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #74dfff);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #74ceff);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #74ceff;
}

.property-card{

}

.apply-square-background{
  background-color: rgba(255, 255, 255, 0);
  padding: 30px;
  border-radius: 10px;
}
.property-owner{

}

.button {
  color: white; /* text-white */
  background: linear-gradient(to bottom right, #050404, #050404); /* bg-gradient-to-br from-purple-600 to-blue-500 */
  font-weight: 500; /* font-medium */
  border-radius: 0.5rem; /* rounded-lg */
  font-size: 0.875rem; /* text-sm */
  padding: 0.625rem 1.25rem; /* px-5 py-2.5 */
  text-align: center; /* text-center */
  margin-right: 0.5rem; /* me-2 */
  margin-bottom: 0.5rem; /* mb-2 */
}

/* Hover state */
.button:hover {
  background: linear-gradient(to bottom left, #74ceff, #3b82f6); /* hover:bg-gradient-to-bl */
}

/* Focus state */
.button:focus {
  outline: none; /* focus:outline-none */
  box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.5); /* focus:ring-4 focus:ring-blue-300 */
}

/* Dark mode focus state */
.dark .button:focus {
  box-shadow: 0 0 0 4px rgba(30, 64, 175, 0.8); /* dark:focus:ring-blue-800 */
}





.property-data-table{
  width: 100%;
}

td, th {
  padding: 10px;
  border: #ffffff solid 1px;
  border-radius: 10px;
}
h1{
  padding: 10px;
  font-size: large;
}